h1 {
  text-align: center;
}
p #storeName {
  display: inline;
  font-size: 20px;
  text-align: center;
}

ul {
  font-size: 15px;
  color: blue;
  width: 500px;
}

li {
  color: black;
}

img {
  display: block;
  border: 1px dashed green;
  margin: auto;
}
