* {
  background: #999;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  border: 1px dashed green;
  font-family: cursive;
}

p {
  text-align: center;
  border: 1px dashed green;
  font-family: arial;
}

footer {
  height: 100px;
  border: 1px dashed green;
  font-family: arial;
}

p #storeName {
  display: inline;
  font-size: 20px;
  text-align: center;
}

ul {
  margin: auto;
  font-size: 15px;
  color: blue;
  width: 500px;
}

li {
  color: black;
}

img {
  display: block;
  border: 1px dashed green;
  margin: auto;
}


.footNav {
  border: 2px dashed green;
  text-align: center;
}

#scroll {
  margin: 5px;
  padding: 5px;
  border: 2px dashed green;
  text-align: center;
}

.footNav li {
  text-align: center;
  margin: 50px;
  display: inline;
  height: 50px;
}
